
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/children.css">
    <title>Voices of change-Helping Children with Special Needs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Indie+Flower&family=New+Amsterdam&family=Pacifico&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="hero">
        <div class="overlay"></div>
        <nav>
            <h1> {{ website_name }}</h1>
            <ul>
                <li><a class='Home' href='/'>Home</a></li>
                <li><a class='about' href='/about'>About Us</a></li>
                <li><a class='contact' href='/contact'>Join Now</a></li>
            </ul>
        </nav>
        <div class="hero-content">
            <h2>Helping Children with Special Needs</h2>
            <a href="#scrolltohere" class="btn-discover">Read More</a>
            <p class="arrow">&darr;</p>
        </div>
    </header>

    <div id="scrolltohere"></div>

    <div class="news-container">
        <main>
            <h1>Helping Children with Special Needs</h1>
            <p>Empowering children with special needs is essential for creating an inclusive society where every child can thrive</p>
        </main>

        <!-- Technology Section -->
        <section class="news-topic">
            <div class="news-grid">
                <div class="news-card" style="background-color: #FFFDDE;">
                    <img src="static/web_image/children_card_1.png" alt="Tech News">
                    <h3 class="news-title">Inclusive Education for Children with Special Needs</h3>
                    <p class="news-summary">India is advancing inclusive education through policies such as the Right to Education (RTE) Act. Schools are integrating resource rooms and special educators to provide personalized learning experiences for children with disabilities. This ensures that every child, regardless of physical or cognitive challenges, can access quality education in a mainstream setting.

                    </p>
                </div>
                <div class="news-card" style="background-color: #FFFDDE;">
                    <img src="static/web_image/children_card_2.png" alt="Investment in AI Research">
                    <h3 class="news-title">Assistive Technology for Enhanced Learning</h3>
                    <p class="news-summary">Assistive technologies like screen readers, braille devices, hearing aids, and specialized software are transforming the educational landscape for children with special needs. These tools enable students with visual, auditory, and learning disabilities to participate actively in class, improving both their academic performance and self-confidence.

                    </p>
                </div>
            </div>
        </section>

        <!-- Economy Section -->
        <section class="news-topic">
            <div class="news-grid">
                <div class="news-card" style="background-color: #FFDEDE;">
                    <img src="static/web_image/children_card_3.png" alt="FDI Growth">
                    <h3 class="news-title">Therapy and Rehabilitation Services</h3>
                    <p class="news-summary">Therapeutic interventions such as occupational therapy, speech therapy, and physiotherapy are crucial in helping children with developmental delays or disabilities. Government-backed rehabilitation centers and special schools provide access to these therapies, which significantly improve the motor, cognitive, and communication skills of children with special needs.

                    </p>
                </div>
                <div class="news-card" style="background-color: #FFDEDE;">
                    <img src="static/web_image/children_card_4.png" alt="Incentives for Startups">
                    <h3 class="news-title">Parental Counseling and Support</h3>
                    <p class="news-summary">Support for parents of children with special needs is critical. Counseling services and support groups are available to guide parents through the challenges of raising children with disabilities. Government programs and NGOs offer counseling, training, and emotional support, empowering parents to better advocate for their children’s needs.

                    </p>
                </div>
            </div>
        </section>

        <section class="news-topic">
            <div class="news-grid">
                <div class="news-card" style="background-color: #F6F7C4;">
                    <img src="static/web_image/children_card_5.png" alt="Digital India Initiative">
                    <h3 class="news-title">Government Schemes for Children with Disabilities</h3>
                    <p class="news-summary">The Indian government has introduced various financial support schemes, such as the Deendayal Disabled Rehabilitation Scheme (DDRS), aimed at improving the quality of life for children with disabilities. These schemes offer financial aid for medical care, education, and vocational training, helping families manage the costs of specialized care.

                    </p>
                </div>
                <div class="news-card" style="background-color: #F6F7C4;">
                    <img src="static/web_image/children_card_6.png" alt="National Infrastructure Pipeline">
                    <h3 class="news-title">Special Schools and Inclusive Policies</h3>
                    <p class="news-summary">Special schools across India cater to children with moderate to severe disabilities, offering tailored curricula and individualized care. The government's push for inclusive education ensures that special schools coexist alongside inclusive policies, creating a robust educational ecosystem for children with varying needs.

                    </p>
                </div>
            </div>
        </section>

        <!-- Business Section -->
        <section class="news-topic">
            <div class="news-grid">
                <div class="news-card" style="background-color: #D9D7F1;">
                    <img src="static/web_image/children_card_7.png" alt="Renewable Energy Projects">
                    <h3 class="news-title">Early Diagnosis and Intervention</h3>
                    <p class="news-summary">Early diagnosis plays a critical role in the development of children with special needs. Programs focusing on early intervention use assessments to identify developmental delays in infancy and preschool years, enabling timely therapeutic and educational support. This early help often leads to better long-term outcomes for children.

                    </p>
                </div>
                <div class="news-card" style="background-color: #D9D7F1;">
                    <img src="static/web_image/children_card_8.png" alt="Manufacturing Hub Initiative">
                    <h3 class="news-title">Awareness and Advocacy</h3>
                    <p class="news-summary">Awareness campaigns and advocacy are essential to reducing the stigma around disabilities. Government initiatives, along with NGO efforts, are working towards promoting inclusivity, educating the public, and creating a supportive environment for children with special needs. These campaigns aim to ensure that every child is treated with dignity and respect.

                    </p>
                </div>
            </div>
        </section>

        <!-- Science Section -->
        <section class="news-topic">
            <div class="news-grid">
                <div class="news-card" style="background-color: #7FA1C3;">
                    <img src="static/web_image/children_card_9.png" alt="Indigenous Vaccines">
                    <h3 class="news-title">Mental Health and Emotional Support</h3>
                    <p class="news-summary">Children with special needs often face emotional and mental health challenges. Counseling and mental health services are now more accessible, ensuring that these children receive the emotional support they require. Programs that focus on mental health promote better coping mechanisms and improved emotional well-being.

                    </p>
                </div>
                <div class="news-card" style="background-color: #7FA1C3;">
                    <img src="static/web_image/children_card_10.png" alt="Space Exploration">
                    <h3 class="news-title">Community Engagement and Support</h3>
                    <p class="news-summary">Community involvement plays a vital role in supporting children with special needs. Local initiatives encourage inclusion through awareness programs, workshops, and volunteer opportunities. Engaging the community helps build a supportive network that empowers families and enhances the quality of life for children with disabilities.

                    </p>
                </div>
            </div>
        </section>

    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-contact">
                <p>Get involved today</p>
                <h1 class="footer-heading-contact">Join hands in building a stronger India</h1>
                <a class='footer-btn' href='/contact'>Join Now</a>
            </div>
        </div>
    </footer>

    <div id="scrollToTop" onclick="scrollToTop()"></div>

    <script>
        function handleScroll() {
            const heroContent = document.querySelector('.card-container');
            if (isInViewport(heroContent)) {
                heroContent.classList.add('visible');
            }
        }

        window.addEventListener('scroll', handleScroll);

        window.onload = handleScroll;

        window.onscroll = function () {
            var scrollToTop = document.getElementById("scrollToTop");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                scrollToTop.classList.add("show");
            } else {
                scrollToTop.classList.remove("show");
            }
        };

        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }


    </script>
</body>

</html>