<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline: Viksit Bharat 2047</title>
    <link rel="stylesheet" href="styles/timeline.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Indie+Flower&family=New+Amsterdam&family=Pacifico&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
</head>

<body>

    <header class="hero">
        <div class="overlay"></div>
        <nav>
            <h1>Next Vishwa Guru</h1>
            <ul>
                <li><a href="index.html" class="Home">Home</a></li>
                <li><a href="about.html" class="about">About Us</a></li>
                <li><a href="contact_us.html" class="contact">Join Now</a></li>
            </ul>
        </nav>
        <div class="hero-content">
            <h2>Home >> Success Timeline</h2>
            <p>India's Progress Over Time.</p>
            <a href="#timeline-container" class="btn-discover">Discover</a>
            <p class="arrow">&darr;</p>
        </div>
    </header>

    <div class="timeline-container" id="timeline-container">
        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-content1">
                    <div class="year-line">
                        <img class="img1" src="images/timeline_img_1.jpeg" alt="">
                    </div>
                    <div class="year">2000-2005</div>
                    <h2>Building the Digital Backbone</h2>
                    <ul>
                        <li>National Informatics Centre (NIC) Expansion: Enhanced government digital infrastructure.
                        </li>
                        <li>ICT in Schools: Introduction of computer literacy programs in schools.</li>
                        <li>Public Internet Access: Expansion of internet access in rural and urban areas.</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content2">
                    <div class="year-line">
                        <img class="img2" src="images/timeline_img_2.jpeg" alt="">
                    </div>
                    <div class="year">2006-2010</div>
                    <h2>Green and Clean India</h2>
                    <ul>
                        <li>National Solar Mission: Launched to promote solar energy as part of the National Action Plan
                            on Climate Change.</li>
                        <li>Clean India Campaign (Swachh Bharat): Initiatives to improve sanitation and cleanliness
                            nationwide.</li>
                        <li>Forest Conservation Act Enforcement: Strengthened policies for increasing forest cover and
                            biodiversity conservation.</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content1">
                    <div class="year-line">
                        <img class="img1" src="images/timeline_img_3.jpeg" alt="">
                    </div>
                    <div class="year">2011-2015</div>
                    <h2>Digital and Urban Innovation</h2>
                    <ul>
                        <li>Digital India Initiative: Launched to enhance digital infrastructure, increase internet
                            penetration, and promote e-governance.</li>
                        <li>Smart Cities Mission (Phase 1): Identified cities for transformation into smart cities with
                            a focus on sustainable living and efficient public services.</li>
                        <li>National Skill Development Mission: Emphasized skill development to prepare the workforce
                            for emerging industries.</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content2">
                    <div class="year-line">
                        <img class="img2" src="images/timeline_img_4.jpeg" alt="">
                    </div>
                    <div class="year">2016-2020</div>
                    <h2>Technology and Sustainability Drive</h2>
                    <ul>
                        <li>Digital India 2.0: Expansion of digital services, enhanced cybersecurity, and nationwide
                            digital literacy programs.</li>
                        <li>Green India Mission: Aimed at increasing forest cover, promoting renewable energy, and
                            reducing pollution levels.</li>
                        <li>AI and Robotics Investments: Government and private sector investments in AI research and
                            robotics to foster innovation and integrate these technologies into industries.</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content1">
                    <div class="year-line">
                        <img class="img1" src="images/timeline_img_5.jpeg" alt="">
                    </div>
                    <div class="year">2021-2023</div>
                    <h2>Health and Urban Transformation</h2>
                    <ul>
                        <li>Healthcare Innovation: Major advances in genomics, vaccine development, and personalized
                            medicine to improve public health.</li>
                        <li>Smart Cities Project (Phase 2): Continued development of over 100 smart cities, integrating
                            modern amenities, efficient public services, and sustainable living conditions.</li>
                        <li>National Digital Health Mission: Launched to create a digital health ecosystem, providing
                            secure and accessible healthcare data for all citizens.</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content2">
                    <div class="year-line">
                        <img class="img2" src="images/timeline_img_6.jpeg" alt="">
                    </div>
                    <div class="year">2024-2029</div>
                    <h2>Scaling Innovation and Infrastructure</h2>
                    <ul>
                        <li>Digital India 3.0: Further expansion of digital infrastructure, including 5G rollout
                            nationwide, enhancement of AI and machine learning capabilities, and ensuring cybersecurity
                            resilience.</li>
                        <li>Green Energy Revolution: Transition to renewable energy sources, with major investments in
                            solar, wind, and hydroelectric power, targeting significant reductions in carbon emissions.
                        </li>
                        <li>Smart Cities Project (Phase 3): Completion of smart city development, with an emphasis on
                            sustainable urban planning, waste management, and green public transportation systems.</li>
                        <li>Advanced AI and Robotics: Integration of AI and robotics into agriculture, manufacturing,
                            and public services, driving productivity and innovation.</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content1">
                    <div class="year-line">
                        <img class="img1" src="images/timeline_img_7.jpeg" alt="">
                    </div>
                    <div class="year">2030-2035</div>
                    <h2>Transforming Healthcare and Education</h2>
                    <ul>
                        <li>Healthcare Revolution: Expansion of personalized medicine, AI-driven diagnostics, and
                            telemedicine services, aiming for universal healthcare access.</li>
                        <li>Education Overhaul: Complete digitization of education, with a focus on STEM, vocational
                            training, and continuous learning programs to prepare citizens for a knowledge-based
                            economy.</li>
                        <li>AI Governance: Implementation of AI in governance to streamline public services, enhance
                            policy-making, and improve citizen engagement.</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content2">
                    <div class="year-line">
                        <img class="img2" src="images/timeline_img_8.jpeg" alt="">
                    </div>
                    <div class="year">2036-2040</div>
                    <h2>Sustainable Development and Global Leadership</h2>
                    <ul>
                        <li>Environmental Restoration: Large-scale projects for reforestation, water conservation, and
                            pollution control to ensure environmental sustainability.</li>
                        <li>Global Technology Hub: Establishment of India as a global leader in technology and
                            innovation, particularly in AI, robotics, and green tech.</li>
                        <li>Global Partnerships: Strengthening of international collaborations in trade, technology, and
                            environmental initiatives, enhancing India's global influence.</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content1">
                    <div class="year-line">
                        <img class="img1" src="images/timeline_img_9.jpeg" alt="">
                    </div>
                    <div class="year">2041-2047</div>
                    <h2>Realizing Viksit Bharat</h2>
                    <ul>
                        <li>Smart Nation: Transition from smart cities to a smart nation, where all aspects of life,
                            including governance, health, education, and infrastructure, are interconnected and
                            optimized through digital technologies.</li>
                        <li>Green Bharat: Achieving carbon neutrality, with a fully sustainable energy grid, zero waste
                            cities, and nationwide conservation programs.</li>
                        <li>Inclusive Prosperity: Eradication of poverty, with every citizen having access to quality
                            healthcare, education, housing, and economic opportunities, fulfilling the vision of an
                            inclusive and prosperous India.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <footer>
        <div class="footer-container">
            <div class="footer-contact">
                <p>Get involved today</p>
                <h1 class="footer-heading-contact">Join hands in building a stronger India</h1>
                <a href="contact_us.html" class="footer-btn">Join Now</a>
            </div>

    </footer>

    <div id="scrollToTop" onclick="scrollToTop()"></div>


    <script>
        function isInViewport(element) {
            const rect = element.getBoundingClientRect();
            return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );
        }

        // Function to handle scroll event
        function handleScroll() {
            const heroContent = document.querySelector('.timeline');
            if (isInViewport(heroContent)) {
                heroContent.classList.add('visible');
            }
        }

        // Listen for scroll events
        window.addEventListener('scroll', handleScroll);

        // Check if the element is already in the viewport on page load
        window.onload = handleScroll;

        window.onscroll = function () {
            var scrollToTop = document.getElementById("scrollToTop");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                scrollToTop.classList.add("show");
            } else {
                scrollToTop.classList.remove("show");
            }
        };

        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }

    </script>


</body>

</html>