<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/vision.css">
    <title>Vision 2047</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Indie+Flower&family=New+Amsterdam&family=Pacifico&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="hero">
        <div class="overlay"></div>
        <nav>
            <h1>Next Vishwa Guru</h1>
            <ul>
                <li><a href="index.html" class="Home">Home</a></li>
                <li><a href="about.html" class="about">About Us</a></li>
                <li><a href="contact_us.html" class="contact">Join Now</a></li>
            </ul>
        </nav>
        <div class="hero-content">
            <h2>Home >> Vision 2047</h2>
            <p>India's New Vision</p>
            <a href="#scrolltohere" class="btn-discover">Read More</a>
            <p class="arrow">&darr;</p>
        </div>
    </header>

    <div id="scrolltohere"></div>


    <section class="vision">
        <div class="main-vision-topic">
            <h2>Vision 2047 : Goals & Strategic Blueprint</h2>
        </div>

        <div class="vision-topic">
            <h3>Economic Prosperity</h3>
            <ul>
                <li class="points">Goal: Reach a $10 trillion economy.</li>
                <li class="points">Focus: Widespread economic opportunities and growth across all sectors.</li>
            </ul>
        </div>

        <div class="vision-topic">
            <h3>Technological Advancement</h3>
            <ul>
                <li class="points">Goal: Position India as a global innovation hub.</li>
                <li class="points">Focus: Leadership in AI, digital solutions, and cutting-edge technologies.</li>
            </ul>
        </div>

        <div class="vision-topic">
            <h3>Sustainable Development</h3>
            <ul>
                <li class="points">Goal: Environmental sustainability for future generations.</li>
                <li class="points">Focus: Green energy, efficient waste management, and conservation efforts.</li>
            </ul>
        </div>

        <div class="vision-topic">
            <h3>Social Equity</h3>
            <ul>
                <li class="points">Goal: Eradicate poverty and reduce inequality.</li>
                <li class="points">Focus: Universal access to education, healthcare, and housing.</li>
            </ul>
        </div>

        <div class="vision-topic">
            <h3>Global Leadership</h3>
            <ul>
                <li class="points">Goal: Enhance India's role on the world stage.</li>
                <li class="points">Focus: Strengthened diplomacy, global trade, and peace initiatives.</li>
            </ul>
        </div>

        <div class="vision-topic">
            <h3>Strategic Blueprint</h3>
            <ul>
                <li>
                    <p>To realize these goals, the strategic blueprint includes:</p>
                </li>
            </ul>
        </div>
        <div class="vision-topic">
            <h3>Economic Reforms</h3>
            <ul>
                <li class="points">Policies: Boost industrial growth, support startups, and simplify doing business.
                </li>
            </ul>
        </div>

        <div class="vision-topic">
            <h3>Infrastructure Development</h3>
            <ul>
                <li class="points">Expansion: Modernize transportation, urban planning, and digital connectivity.</li>
            </ul>
        </div>

        <div class="vision-topic">
            <h3>Education & Skill Development</h3>
            <ul>
                <li class="points">Revamp: Prioritize STEM, vocational training, and continuous learning.</li>
            </ul>
        </div>

        <div class="vision-topic">
            <h3>Healthcare</h3>
            <ul>
                <li class="points">Focus: Universal access, preventive care, and advanced research.</li>
            </ul>
        </div>

        <div class="vision-topic">
            <h3>Environmental Policies</h3>
            <ul>
                <li class="points">Initiatives: Renewable energy, afforestation, water conservation, and carbon
                    reduction.</li>
            </ul>
        </div>

        <div class="vision-topic">
            <h3>Governance Reforms</h3>
            <ul>
                <li class="points">Enhancements: Improve transparency, reduce bureaucracy, and digitize public services.
                </li>
            </ul>
        </div>
        <div class="vision-topic">

            <h3>Progress Monitoring</h3>
            <ul>
                <li class="points">Annual Reports: Detailed updates on initiative progress.</li>
                <li class="points">Performance Indicators: Metrics like GDP, employment, literacy, and emissions.</li>
                <li class="points">Public Dashboards: Real-time data on critical projects for transparency and
                    accountability.</li>
            </ul>
            <p class="new-p">This streamlined framework is designed to guide India's transformation into a global
                powerhouse by 2047,
                ensuring a prosperous, sustainable, and inclusive future.</p>
        </div>
    </section>


    <footer>
        <div class="footer-container">
            <div class="footer-contact">
                <p>Get involved today</p>
                <h1 class="footer-heading-contact">Join hands in building a stronger India</h1>
                <a href="contact_us.html" class="footer-btn">Join Now</a>
            </div>
    </footer>

    <div id="scrollToTop" onclick="scrollToTop()"></div>

    <script>
        function handleScroll() {
            const heroContent = document.querySelector('.card-container');
            if (isInViewport(heroContent)) {
                heroContent.classList.add('visible');
            }
        }

        window.addEventListener('scroll', handleScroll);

        window.onload = handleScroll;

        window.onscroll = function () {
            var scrollToTop = document.getElementById("scrollToTop");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                scrollToTop.classList.add("show");
            } else {
                scrollToTop.classList.remove("show");
            }
        };

        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }

    </script>

</body>

</html>