<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice of change-Steps taken by Government to empover women</title>
    <link rel="stylesheet" href="static/women.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Indie+Flower&family=New+Amsterdam&family=Pacifico&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Recursive:wght@300..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
</head>

<body>

    <header class="hero" >
        <div class="overlay"></div>
        <nav>
            <h1>Voice Of Change</h1>
            <ul>
                <li><a href="/" class="Home">Home</a></li>
                <li><a href="/about" class="about">About Us</a></li>
                <li><a href="/contact" class="contact">Join Now</a></li>
            </ul>
        </nav>
        <div class="hero-content">
            <h2>Steps taken by Government to Empower women</h2>
            <a href="#timeline-container" class="btn-discover">Read</a>
            <p class="arrow">&darr;</p>
        </div>
    </header>

    <div class="timeline-container" id="timeline-container">
        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-content1">
                    <div class="year-line">
                        <img class="img1" src="images/women_timeline_1.png" alt="">
                    </div>
                    <div class="year">1950s</div>
                    <h2>Building Foundations of Equality</h2>
                    <ul>
                        <li>Constitutional Rights for Women: Ensured equal rights and non-discrimination through Articles 14 and 15.</li>
                        <li>Hindu Marriage Act (1955): Gave women legal rights in marriage and divorce.</li>
                        <li>Women's Participation: Early steps to increase women's roles in governance and public institutions.</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content2">
                    <div class="year-line">
                        <img class="img2" src="images/women_timeline_2.png" alt="">
                    </div>
                    <div class="year">2006-2010</div>
                    <h2>Legal Protections and Women's Safety</h2>
                    <ul>
                        <li>Protection of Women from Domestic Violence Act (2005): Provided protection for women against domestic violence.</li>
                        <li>National Commission for Women: Strengthened to advocate for women's rights and monitor issues of gender equality.</li>
                        <li>Gender Sensitization Programs: Implemented in schools and workplaces to promote a safer environment for women.</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content1">
                    <div class="year-line">
                        <img class="img1" src="images/women_timeline_3.png" alt="">
                    </div>
                    <div class="year">2011-2015</div>
                    <h2>Women Empowerment and Education</h2>
                    <ul>
                        <li>Beti Bachao Beti Padhao (2015): Aimed at improving the child sex ratio and promoting girl education.</li>
                        <li>Digital Literacy for Women: Introduced programs to educate women on digital literacy and entrepreneurship.</li>
                        <li>Sukanya Samriddhi Yojana (2015): Launched to financially empower girls and encourage saving for their education.</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content2">
                    <div class="year-line">
                        <img class="img2" src="images/women_timeline_4.png" alt="">
                    </div>
                    <div class="year">2016-2020</div>
                    <h2>Economic Empowerment and Safety</h2>
                    <ul>
                        <li>Maternity Benefit (Amendment) Act (2017): Extended maternity leave from 12 weeks to 26 weeks.</li>
                        <li>Pradhan Mantri Matru Vandana Yojana (2017): Launched to provide maternity benefits and nutritional support.</li>
                        <li>Women's Self Help Groups (SHGs): Strengthened as part of the National Rural Livelihood Mission to increase economic independence.</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content1">
                    <div class="year-line">
                        <img class="img1" src="images/women_timeline_5.png" alt="">
                    </div>
                    <div class="year">2021-2023</div>
                    <h2>Health and Digital Empowerment</h2>
                    <ul>
                        <li>National Digital Health Mission: Created a digital health ecosystem to provide secure and accessible healthcare data for women.</li>
                        <li>Mission Shakti: Launched to integrate protection, safety, and empowerment services for women under one umbrella.</li>
                        <li>Expansion of One-Stop Centres: Established for women affected by violence, offering medical, legal, and psychological support.</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content2">
                    <div class="year-line">
                        <img class="img2" src="images/women_timeline_6.png" alt="">
                    </div>
                    <div class="year">2024-2029</div>
                    <h2>Scaling Empowerment Through Technology</h2>
                    <ul>
                        <li>Digital India for Women: Enhanced focus on digital literacy for women in rural and urban areas, promoting entrepreneurship and e-governance.</li>
                        <li>AI and Women’s Safety: Using AI and technology to improve women's safety and streamline services like helplines and tracking.</li>
                        <li>Green and Inclusive Workforce: Training women for roles in renewable energy and technology-driven sectors.</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content1">
                    <div class="year-line">
                        <img class="img1" src="images/women_timeline_7.png" alt="">
                    </div>
                    <div class="year">2030-2035</div>
                    <h2>Transforming Women's Health and Education</h2>
                    <ul>
                        <li>Healthcare for All Women: Universal access to healthcare services, with special focus on maternal health and reproductive rights.</li>
                        <li>Complete Digitization of Education: STEM and vocational training for women, aimed at preparing them for a knowledge-driven economy.</li>
                        <li>AI in Governance: Using AI tools to monitor and improve women's representation and participation in policy-making and governance.</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content2">
                    <div class="year-line">
                        <img class="img2" src="images/women_timeline_8.png" alt="">
                    </div>
                    <div class="year">2036-2040</div>
                    <h2>Sustainable Development for Women</h2>
                    <ul>
                        <li>Environmental Leadership: Women’s participation in global environmental restoration and conservation projects.</li>
                        <li>Global Technology Hub: Women leading India’s efforts as a global leader in AI, robotics, and green technologies.</li>
                        <li>Global Collaborations: Strengthened international partnerships to enhance women’s roles in global trade, technology, and innovation.</li>
                    </ul>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content1">
                    <div class="year-line">
                        <img class="img1" src="images/women_timeline_9.png" alt="">
                    </div>
                    <div class="year">2041-2047</div>
                    <h2>Realizing Women’s Leadership in a Viksit Bharat</h2>
                    <ul>
                        <li>Inclusive Prosperity: Achieving an inclusive India where every woman has access to education, healthcare, and economic opportunities.</li>
                        <li>Leadership in Green Bharat: Women driving India’s carbon-neutral initiatives and sustainable development goals.</li>
                        <li>Women-Led Innovation: Ensuring women’s active participation in India’s global leadership across technology, environment, and governance sectors.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="footer-container">
            <div class="footer-contact">
                <p>Get involved today</p>
                <h1 class="footer-heading-contact">Join hands in building a stronger India</h1>
                <a href="/contact" class="footer-btn">Join Now</a>
            </div>

    </footer>

    <div id="scrollToTop" onclick="scrollToTop()"></div>


    <script>
        function isInViewport(element) {
            const rect = element.getBoundingClientRect();
            return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );
        }

        // Function to handle scroll event
        function handleScroll() {
            const heroContent = document.querySelector('.timeline');
            if (isInViewport(heroContent)) {
                heroContent.classList.add('visible');
            }
        }

        // Listen for scroll events
        window.addEventListener('scroll', handleScroll);

        // Check if the element is already in the viewport on page load
        window.onload = handleScroll;

        window.onscroll = function () {
            var scrollToTop = document.getElementById("scrollToTop");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                scrollToTop.classList.add("show");
            } else {
                scrollToTop.classList.remove("show");
            }
        };

        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }

    </script>


</body>

</html>